<nav class="navbar navbar-expand-lg">
  <div class="box-left">
    <a class="navbar-brand" href="#">mygifthub.<span class="com"></span>com</a>
  </div>

  <div class="box-middle">
    <button class="navbar-toggler search-force-display" type="button" data-toggle="collapse"
      data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
      aria-label="Toggle navigation">
      <form class="form-inline my-2 my-lg-0 search-form">
        <input id="search-input" class="form-control mr-sm-2" type="search" placeholder="FIND A REGISTRY"
          aria-label="Search" name="search"><i class="fas fa-search nav-search"></i>
      </form>
    </button>
  </div>

  <div class="box-right">
    {{#if user}}
    <a href="/auth/logout" type="button" class="btn btn-outline-primary btn-log-in">Log Out</a>
    {{else}}
    <a href="/auth/google" type="button" class="btn btn-outline-primary btn-sign-up">Log In</a>
    {{/if}}
  </div>
</nav>
