<div class="row">
  <nav class="navbar fixed-top navbar-expand-lg">
    <a class="navbar-brand" href="#">mygifthub.com</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="search-container">
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="search">
        <button type="submit"><i class="fas fa-search"></i></button>
      </form>
    </div>

   <button type="button" class="btn btn-outline-primary">Primary</button>
   <button type="button" class="btn btn-outline-primary">Primary</button>
  </nav>
</div>