<nav id="navBar" class="navbar navbar-expand-lg">
  <div class="box-left">
    <a class="navbar-brand" href="#">mygifthub<span class="com">.com</span></a>
  </div>

  <div class="box-middle">
    <button class="navbar-toggler search-force-display" type="button" data-toggle="collapse"
      data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
      aria-label="Toggle navigation">
      <form class="form-inline my-2 my-lg-0 search-form">
        <input id="search-input" class="form-control mr-sm-2" type="search" placeholder="FIND A REGISTRY"
          aria-label="Search" name="search"><i class="fas fa-search nav-search"></i>
      </form>
    </button>
  </div>

  <div class="box-right">
    {{#if user}}
    <a href="/auth/logout" type="button" class="btn btn-outline-primary btn-log-in">Log Out</a>
    {{else}}
    <a href="/auth/google" type="button" class="btn btn-outline-primary btn-sign-up">Log In</a>
    {{/if}}
  </div>
<br>
{{!-- Note: This row of links to be under, not to the right --}}

<div class="menu-container">
  
  <ul class="menu">
    <li class="menu-item1"><a href=""></a>Birthday</li>
    <li class="menu-item2"><a href=""></a>Wedding</li>
    <li class="menu-item3"><a href=""></a>Anniversay</li>
    <li class="menu-item4"><a href=""></a>Graduation</li>
    <li class="menu-item4"><a href=""></a>Baby Shower</li>
  </ul>
  
</div>
  </nav>
