<div class="jumbotron" style="margin-bottom: 0px;">
  <div class="jumbo-div">
    <p class="jumbotron-h1">mygifthub.com</p>
    <h5 class="jumbotron-p">Your place to create a registry for any occasion</h5>
    
  </div>
<div class="filler"></div>
</div>

<nav id="navBar" class="navbar navbar-expand-md sticky-top">

  <div class="box-left">
    <a class="navbar-brand" href="/"><span class="navbar-logo"><img class="box-logo"
          src="../../public/images/PinClipart.com_spa-clipart_21348.png" alt="gift"
          style="width: 3.5rem; height: 3.5rem;"></span><span class="logo-text">mygifthub</span><span
        class="logo-text com">.com</span></a>
  </div>

  {{!-- <button class="navbar-toggler" data-toggle="collapse" data-target="#collapse_target"><span
      class="navbar_toggler"></span>
  </button> --}}

  <div class="box-middle">
    <button class="navbar-toggler search-force-display" type="button" data-toggle="collapse"
      data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
      aria-label="Toggle navigation">
      <form class="form-inline my-2 my-lg-0 search-form">
        <input id="search-input" class="form-control mr-sm-2" type="search" placeholder="FIND A REGISTRY"
          aria-label="Search" name="search"><i class="fas fa-search nav-search"></i>
      </form>
    </button>
  </div>

  <div class="box-right">
    {{#if user}}
    <a href="/auth/logout" class="btn btn-log-out">Log Out</a>
    {{else}}
    <a href="/auth/google" class="btn btn-log-in">Log In</a>
    {{/if}}
  </div>

</nav>