<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="/public/styles/normalize.css">
  <link rel="stylesheet" href="/public/styles/grid.css">
  <link href="https://fonts.googleapis.com/css?family=Lato:100,300,300i,400" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
    integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="/public/styles/styles.css" type="text/css">
 
  <title>Home Page</title>
</head>

<body>

  {{> _nav}}
  <main>
    {{!-- <div class="container"> --}}
            {{{body}}}
    {{!-- </div> --}}
  </main>
  {{> _footer}}

 <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
 	<script src="/public/js/newList.js"></script>
</body>

</html>