<div class = "row">
    <div class = "col-md-3"></div>
    <div id = "listBox" class = "col-md-6 text-center">
        <h2>Lists Shared with Me</h>
        <br>
        <ul class = "friendLists">
            {{#each ListItems}}
            {{/each}}
        </ul>
    </div>
</div>>