<section class="intro">
    <div class="hero-text-box">
        <h2>A Registry for Every Occasion</h2>
        <h1 class="line1">Birthday, Graduation &amp; More</h1>
        <h1 class="line2">Create One For Any Occasion</h1>

    </div>

    <button>
        Create a Registry
    </button>
</section>

<section class=""></section>