<section class="intro">
    <div class="hero-text-box">
        <h2>A Registry for Every Occasion</h2>
        <h1 class="line1">Birthday, Graduation &amp; More</h1>
        <h1 class="line2">Create One For Any Occasion</h1>

    </div>

    <button>
        Create a Registry
    </button>
</section>

<section class="events">
    <div class="events-showcase">
        <li>
            <figure class="event-photo">
                <img src="../public/images/wedding.jfif" alt="Wedding">
            </figure>
            <figure class="event-photo">
                <img src="../public/images/graduation.jfif" alt="Graduation">
            </figure>
            <figure class="event-photo">
                <img src="../public/images/baby.jfif" alt="Baby">
            </figure>
            <figure class="event-photo">
                <img src="../public/images/birthday.jfif" alt="Birthday Party">
            </figure>
        </li>
    </div>

</section>