<section class="intro">
    <div class="row intro-text-box">
  
        <h2>A Registry for Every Occasion</h2>
        <h1 class="line1">Birthday, Graduation &amp; More</h1>
        <h1 class="line2">Create One For Any Occasion</h1>
        <p> At <a class="body-brand-small" href="/"><span class="navbar-logo-small"><img class="box-logo"
          src="../../public/images/PinClipart.com_spa-clipart_21348.png" alt="gift"
          style="width: 1.25rem; height: 1.25rem;"></span><span class="logo-text-small">mygifthub</span><span class="logo-text-small com-small">.com</span></a>
  we make it easy for friends and family to shop for your event. No guess work. No hassle. Just a few clicks!</p>

    </div>
</section>

<section class="events">
    <ul class="events-showcase">
        <li>
            <figure class="event-photo">
                <img src="../public/images/birthday.webp" alt="Birthday Party">
            </figure>
            <figure class="event-photo">
                <img src="../public/images/wedding.jpg" alt="Wedding">
            </figure>
            <figure class="event-photo">
                <img src="../public/images/graduation.jpg" alt="Graduation">
            </figure>
            <figure class="event-photo">
                <img src="../public/images/baby.jfif" alt="Baby">
            </figure>
            
        </li>
    </ul>

</section>