<section class="intro">
    <div class="row intro-text-box">

        <h1>A Registry for Every Occasion</h1>
        <p class="long-copy"> At <a class="body-brand-small" href="/"><span class="logo-small"><img
                        class="box-logo-small" src="../../public/images/PinClipart.com_spa-clipart_21348.png" alt="gift"
                        style="width: 1.25rem; height: 1.25rem;"></span><span
                    class="logo-text-small">mygifthub</span><span class="logo-text-small com-small">.com</span></a>
            we make it easy for friends and family to shop for your event. No guess work. No hassle. Just a few clicks!
        </p>
    </div>
    <div class="row">
        <div class="col span-1-of-4 box-text">
            <i class="far fa-list-alt intro-icon"></i>
            <h3>Flexible</h3>
            <p class="long-text">
                It's easy! Create a registry and add in the items you want, edit or delete. Over 200 stores to choose
                from. If one isn't there, simply add it.
            </p>
        </div>

        <div class="col span-1-of-4 box-text">
            <i class="far fa-question-circle intro-icon"></i>
            <h3>No Guessing</h3>
            <p class="long-text">
                Take the guesswork out. Now friends and family will know exactly what to get you. No doubling of gifts
                either. Once someone has claimed the gift, it disappears from your list.
            </p>
        </div>

        <div class="col span-1-of-4 box-text">
            <i class="far fa-clock intro-icon"></i>
            <h3>Convenient</h3>
            <p class="long-text">
                Save time and effort. We are a one-click solution for everyone. Add friends and family and then share
                your registry. They click on the item they want to give you.
            </p>
        </div>

        <div class="col span-1-of-4 box-text">
            <i class="fas fa-cart-arrow-down intro-icon"></i>
            <h3>No Hassle</h3>
            <p class="long-text">
                Make it easy for your loved ones. No more last-minute rushing about to shop. A few clicks and they are
                done.
            </p>
        </div>
</section>
<section class="container-fluid d-flex flex-row">
    <!--<div class="w-100 row">-->
    <figure class="event-photo">
        <img src="../public/images/birthday.webp" alt="Birthday Party">
    </figure>
    <figure class="event-photo">
        <img src="../public/images/wedding.jpg" alt="Wedding">
    </figure>
    <figure class="event-photo">
        <img src="../public/images/graduation.jpg" alt="Graduation">
    </figure>
    <figure class="event-photo">
        <img src="../public/images/travel-the-world.jpg" alt="Travel">
    </figure>
    <!--</div>-->
</section>