<div class = "row">
    <div class = "col-md-3"></div>
    <div id = "listBox" class = "col-md-6">
        <h2>#currentListName</h>
        <br>
        <ul class = "friendLists">
            {{#each lists}}
            {{/each}}
        </ul>
    </div>
</div>>