<div class = "row">
    <div class = "col-md-3"></div>
    <div id = "listBox" class = "col-md-6">
        <h2>#currentListName</h>
        <br>
        {{!-- <ul class = "friendLists">
          
           <ul class="list-group"> --}}

               {{#each userlists}}
               {{this.firstName}}
               {{/each}}
               <div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Users List
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      {{#each userlists}}
    <a class="dropdown-item" href="#"> {{this.firstName}}</a>
    {{/each}}
  </div> 
  	<button id="userShared" class="delete-burger btn btn-danger btn-sm" data-id="{{this.id}}"><span class="fas fa-share"></span></button>

</div>
</div>

{{!-- </ul> --}}
    </div>
</div>