<h3 class="text-center font-weight-bold mt-2" style="color:#516F7F!important">Create a New Registry</h3>
<hr>

{{#if user}}
<div class="row mb-5">
    <div class="col-md-5 offset-md-3">
      <form action="/api/list/{{user.GoogleID}}" method="POST">
        <div class="form-group">
          <label for="ListName">Registry Name:</label>
          <input type="text" class="form-control" name="ListName" placeholder="Registry Name">
          <br />
          <input type="hidden" class="form-control" name="GoogleID" id="GoogleID" value="{{user.GoogleID}}">
          <div class="form-group">
            <label for="category">Select Category:</label>
            <select class="custom-select" id="category">
              <option value="Birthday">Birthday</option>
              <option value="Wedding">Wedding</option>
              <option value="Anniversary">Anniversary</option>
              <option value="Graduation">Graduation</option>
              <option value="Baby Shower">Baby Shower</option>
              <option value="Wish List">Wish List</option>
            </select>
          </div>
          <br />
          <button type="submit" class="btn btn-primary submit btn-md">Submit</button>
        </div>
      </form>
    </div>
</div>
{{/if}}
